<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/logo_racoo.png" width="100" height="30" alt="">
  </a>
</nav>
<div class="container-fluid margin-container">



  <div class="row">
    <div class="col-md-2">
      <div class="form-group col-form-label-sm">
        <select class="form-control form-control-sm" #selectElement (change)="selectNotaria(selectElement.value)">
          <option value="">Todos</option>
          <option *ngFor="let notaria of infoAll" [value]="notaria._id">{{notaria.notaria}}</option>
        </select>
      </div>
    </div>
  </div>


  <!--Tablas con el ultimo estaus de las notarias-->

  <div *ngIf="!dataId">

    <div class="table-responsive">
      <table class="table table-bordered" *ngFor="let notaria of recent">
        <thead>
          <tr>
            <th class="text-center" scope="col">Notaria/Fecha</th>
            <th class="text-center" scope="col" [attr.colspan]='notaria?.informacion?.discos.length'>Discos</th>
            <th class="text-center" scope="col">Samba</th>
            <th class="text-center" scope="col">Mantenimiento</th>
            <th class="text-center" scope="col">Fecha Local Server</th>
            <th class="text-center" scope="col">Respaldo Interno</th>
            <th class="text-center" scope="col">Respaldo Externo</th>
            <th class="text-center" scope="col">Tarjetas de Red</th>
            <th class="text-center" scope="col" [attr.colspan]='notaria?.informacion?.software.length'>Software</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center" [ngClass]="{'amarillo': dateBack(notaria?.informacion?.fecha[0]?.fecha) === 1, 'rojo': dateBack(notaria?.informacion?.fecha[0]?.fecha) > 1 }">{{notaria.id_notaria}}
              <br /><small>{{notaria?.informacion?.fecha[0]?.fecha}}</small>
            </th>
            <td *ngFor="let disco of notaria?.informacion?.discos" [ngClass]="{'amarillo': porcentYellow(disco.Mounted_on, disco.Use, disco.Avail), 'rojo': porcentRed(disco.Mounted_on, disco.Use, disco.Avail) }"
              [ngbPopover]="popContent" triggers="mouseenter:mouseleave" container="body">
              <ng-template #popContent>
                <pre>{{disco | json}}</pre>
              </ng-template>
              <p class="text-center">{{cutName(disco.Mounted_on)}} <br /> {{values(disco.Mounted_on, disco.Use,
                disco.Avail)}}</p>
            </td>
            <td>
                <div *ngFor="let samba of notaria?.informacion?.samba" triggers="mouseenter:mouseleave" container="body"
                [ngbPopover]="popContent" class="text-center">
                <ng-template #popContent>
                  <pre>{{samba | json}}</pre>
                </ng-template>
                <p class="text-center">{{samba.carpeta}}</p>
              </div>
            </td>
            <td class="text-center" ngbPopover="{{notaria?.informacion?.fecha[1]?.fecha}}" triggers="mouseenter:mouseleave"
              container="body" [ngClass]="{'amarillo': dateMaintenance(notaria?.informacion?.fecha[1]?.fecha) >= 10 && dateMaintenance(notaria?.informacion?.fecha[1]?.fecha) < 12, 'rojo': dateMaintenance(notaria?.informacion?.fecha[1]?.fecha) >= 12 }">{{dateMaintenance(notaria?.informacion?.fecha[1]?.fecha)}}
              Meses</td>
            <td class="text-center" ngbPopover="{{notaria?.informacion?.fecha[0]?.fecha}}" triggers="mouseenter:mouseleave"
              container="body" [ngClass]="{'amarillo': dateServer(notaria?.informacion?.fecha[0]?.fecha) === 1 || dateServer(notaria?.informacion?.fecha[0]?.fecha) === -1, 'rojo': dateServer(notaria?.informacion?.fecha[0]?.fecha) >= 2 || dateServer(notaria?.informacion?.fecha[0]?.fecha) >= 2 }">{{dateServer(notaria?.informacion?.fecha[0]?.fecha)}}
              Horas</td>
            <td class="text-center" ngbPopover="{{notaria?.informacion?.fecha[1]?.fecha}}" triggers="mouseenter:mouseleave"
              container="body" [ngClass]="{'rojo': dateBack(notaria?.informacion?.fecha[2]?.fecha) >= 2 }">{{dateBack(notaria?.informacion?.fecha[2]?.fecha)}}
              Dias</td>
            <td class="text-center" ngbPopover="{{notaria?.informacion?.fecha[1]?.fecha}}" triggers="mouseenter:mouseleave"
              container="body" [ngClass]="{'rojo': dateBack(notaria?.informacion?.fecha[3]?.fecha) >= 2  || dateBack(notaria?.informacion?.fecha[3]?.fecha) === 'NaN' }">{{dateBack(notaria?.informacion?.fecha[3]?.fecha)}}
              Dias</td>
            <td>
              <div *ngFor="let red of notaria?.informacion?.red" triggers="mouseenter:mouseleave" container="body"
                [ngbPopover]="popContent" class="text-center">
                <ng-template #popContent>
                  <pre>{{red | json}}</pre>
                </ng-template>
                <p class="text-center">{{red.inet}}</p>
              </div>
            </td> 

            <td *ngFor="let software of notaria?.informacion?.software" triggers="mouseenter:mouseleave" container="body"
              [ngbPopover]="popContent" class="text-center">
              <ng-template #popContent>
                <pre>{{software | json}}</pre>
              </ng-template>
              <p class="text-center">{{software.nombre}} <br /> {{software.version}}</p>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!--Tablas por notarias, con todo el historico de las notarias-->

  <div *ngIf="dataId">

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" scope="col">Notaria/Fecha</th>
            <th class="text-center" scope="col" [attr.colspan]="infoId?.info[discLength - 1]?.informacion?.discos.length">Discos</th>
            <th class="text-center" scope="col">Mantenimiento</th>
            <th class="text-center" scope="col">Fecha Local Server</th>
            <th class="text-center" scope="col">Respaldo Interno</th>
            <th class="text-center" scope="col">Respaldo Externo</th>
            <th class="text-center" scope="col" [attr.colspan]='infoId?.info[discLength - 1]?.informacion?.red.length'>Tarjetas
              de Red</th>
            <th class="text-center" scope="col" [attr.colspan]='infoId?.info[discLength - 1]?.informacion?.software.length'>Software</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of infoId?.info">
          <th class="text-center">{{item.id_notaria}}
            <br /><small>{{item?.informacion?.fecha[0]?.fecha}}</small>
          </th>
          <td *ngFor="let disco of item?.informacion?.discos" [ngClass]="{'amarillo': porcentYellow(disco.Mounted_on, disco.Use, disco.Avail), 'rojo': porcentRed(disco.Mounted_on, disco.Use, disco.Avail) }"
            [ngbPopover]="popContent" triggers="mouseenter:mouseleave" container="body">
            <ng-template #popContent>
              <pre>{{disco | json}}</pre>
            </ng-template>
            <p class="text-center">{{cutName(disco.Mounted_on)}} <br /> {{values(disco.Mounted_on, disco.Use,
              disco.Avail)}}</p>
          </td>
          <td class="text-center" ngbPopover="{{item?.informacion?.fecha[1]?.fecha}}" triggers="mouseenter:mouseleave"
            container="body" [ngClass]="{'amarillo': dateMaintenance(item?.informacion?.fecha[1]?.fecha) >= 10 && dateMaintenance(item?.informacion?.fecha[1]?.fecha) < 12, 'rojo': dateMaintenance(item?.informacion?.fecha[1]?.fecha) >= 12 }">{{dateMaintenance(item?.informacion?.fecha[1]?.fecha)}}</td>
          <td class="text-center" ngbPopover="{{item?.informacion?.fecha[0]?.fecha}}" triggers="mouseenter:mouseleave"
            container="body" [ngClass]="{'amarillo': dateServer(item?.informacion?.fecha[0]?.fecha) === 1 || dateServer(item?.informacion?.fecha[0]?.fecha) === -1, 'rojo': dateServer(item?.informacion?.fecha[0]?.fecha) >= 2 || dateServer(item?.informacion?.fecha[0]?.fecha) >= 2 }">{{dateServer(item?.informacion?.fecha[0]?.fecha)}}</td>
          <td class="text-center" ngbPopover="{{item?.informacion?.fecha[1]?.fecha}}" triggers="mouseenter:mouseleave"
            container="body" [ngClass]="{'rojo': dateBack(item?.informacion?.fecha[2]?.fecha) >= 1 }">{{dateBack(item?.informacion?.fecha[2]?.fecha)}}</td>
          <td class="text-center" ngbPopover="{{item?.informacion?.fecha[1]?.fecha}}" triggers="mouseenter:mouseleave"
            container="body" [ngClass]="{'rojo': dateBack(item?.informacion?.fecha[3]?.fecha) >= 1 }">{{dateBack(item?.informacion?.fecha[3]?.fecha)}}</td>

          <td *ngFor="let red of item?.informacion?.red" triggers="mouseenter:mouseleave" container="body" [ngbPopover]="popContent"
            class="text-center">
            <ng-template #popContent>
              <pre>{{red | json}}</pre>
            </ng-template>
          </td>

          <td *ngFor="let software of item?.informacion?.software" triggers="mouseenter:mouseleave" container="body"
            [ngbPopover]="popContent" class="text-center">
            <ng-template #popContent>
              <pre>{{software | json}}</pre>
            </ng-template>
            <p class="text-center">{{software.nombre}}</p>
          </td>

        </tbody>
      </table>
    </div>

    <!--<div *ngFor="let software of infoId?.info[discLength-1]?.informacion?.software" class="row">
      <div class="col-md">
        <p>{{software.nombre}} - {{software.version}}</p>
      </div>
    </div>-->

    <!--<pre>{{infoId | json}}</pre>-->
  </div>



  <!--<div class="row">
    <div class="col-md-1 text-left" (click)="isVisible()">
      <span *ngIf="!visible; else otherIcon">
        <i class="far fa-eye fa-xs puntero"></i>
      </span>
      <ng-template #otherIcon>
        <i class="far fa-eye-slash fa-xs puntero"></i>
      </ng-template>
    </div>
  </div>

  <div *ngIf="visible">
    <pre>{{data | json}}</pre>
  </div>-->

</div>